body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo-img{
    width: 25vh;
}

.bg-owl-img-1{
    background-image: url(images/owl-img-bg-1.png);
    position: absolute;
    left: 0px;
    top: 2px;
    width: 584px;
    height:93vh;
    background-repeat: no-repeat;
    padding: 67px;
}

.owl-one .owl-item{
    width: 100%;
    margin-right: 10px;
    height:93vh;
}

.shape-bg-img{
      background-color: bisque;
    position: absolute;
    right: 10vh;
    bottom: 0px;
    width: 435px;
    height: 481px;
    border-radius: 50% 50% 0px 0px;
      -webkit-animation: zoom-fade 6s infinite linear;
    animation: zoom-fade 6s infinite linear;
}

.bannerimg-owl-1{
    position: relative;
    left: -228px;
    width: 90vh !important;
    top: -20vh;
}

.pattern-img{
    position: relative;
    left: 35.5vh;
    top: -85.5vh;
    width: 28vh !important;
    z-index: -1;
}

.eyecare-sen-1{
    color: rgb(239, 159, 61);
    font-size: 3.5vh;
   
}

.eyecare-heading{
    font-size: 8vh;
}

.desc-eyecare{
    font-size: 2.8vh;
}

.owl-contact-bbtn{
    width: 25vh;
}

.fa-carousel{
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 50px ;
    font-size: 3vh;
    color: rgb(156, 116, 63);   
    box-shadow:0 4px 8px rgb(249 143 60 / 66%);
}

.bannerimg-owl-2{
    position: relative;
    left: -58px;
    width: 67vh !important;
    top: -164px;
} 

.owl-one .owl-nav button.owl-prev,
.owl-one .owl-nav button.owl-next{
    font-size: 18vh;
}

.owl-one .owl-nav button.owl-next{
    position: relative;
    left: 190vh;
}

.owl-one .owl-nav {
    position: absolute;
    top:15vh;
    display: flex;
    justify-content: space-between;
}

 .owl-one .owl-dots{
    display: none;
}

.section-cards-1{
    box-shadow:0 4px 8px rgba(109, 92, 79, 0.66);
}

.benefits-text-tit{
    font-size: 5vh;
    font-weight: bold;
}

.desc-benefits{
    font-size: 3vh;
    color: rgb(89, 74, 82);
}

.foa-card{
    font-size: 6vh;
    padding: 20px 20px 0px 20px ;
    color: rgb(175, 131, 79);   
}

.card-benefits,.card-services{
    border: none;
    background-color: aliceblue;
}

.card-benefits-tit,.card-services-tit{
    font-weight: bold;
    font-size: 3.5vh;
}

.card-benefits-desc,.card-services-desc{
    font-size: 2.5vh;
}

.tit-abt-us{
 font-size: 15vh;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #ffd4b2, #c3fff7 100%);
    color: transparent !important;
    background-clip: text !important;
    position: relative;
    top: 14.5vh;
    left: 14.7vh;
    z-index: -1;
}


.pattern-img-2 {
    position: relative;
    top: -25vh;
    left: -5vh;
    z-index: -1;
  
}

.abt-img-txt{
    background-color: bisque;
    padding: 25px 30px 25px 30px;
    border-radius: 30px;
    width: 35vh;
    height: 35vh;
    text-align: center;
    font-size: 3.5vh;
    color: #7c461d;
    position: absolute;
    top: 232vh;
    right: 115vh;
    box-shadow:0 4px 8px rgba(109, 92, 79, 0.66);

}

.num-text-abt{
    font-size: 10vh;
}

.def-abt-us{
    font-size: 2.5vh;
    color:rgb(50, 67, 81);
    text-align: justify;
}

.sub-title-abtus{
font-size: 6.5vh;
font-weight: bold;
}

.tit-vision,.tit-mission{
    font-size: 7vh;
}

.list-vision-mission
{
    font-size: 3vh;
    list-style:none
}

ul li:before {
  content: '✓ ';
  font-weight: bolder;
  color: #ee962e;
}

.services-bg-img-1{
    z-index: 0;
    width: 50vh;
    height: 60vh;
    background-repeat: no-repeat;
    /* padding: 67px; */
    position: absolute;
    left: 156.5vh;
}

.our-services-sec{
    background-color: #f2f4f5;
}

.services-tit{
    font-size: 15vh ;
    text-align: center;
   background: -webkit-linear-gradient(0deg, #d2bba8 30%, #a9dad5 70%);
    color: transparent !important;
    background-clip: text !important;
    font-weight: bold;
}

.global-title{
        font-size: 7vh;
    text-align: center;
    z-index: 1;
    position: relative;
    top: -16vh;
}

.services-card-sec{
   padding: 0px 22vh;
   z-index: 1;
}

.text-paeditaric{
 font-size: 24.5px;
 padding: 2px;
}

.services-desc{
    position: relative;
    top: -7.5vh;
    padding: 7vh;
} 

.surgical-procedures-title{
    font-size: 5vh;
    font-size: 7vh;
    font-weight: bold;
}

.sugrical-desc{
    font-size: 2.5vh;
    text-align: justify;
    padding-top: 22px;
    padding-right: 20px;
}
.doc-img{    
    border-radius: 50px;
    padding-left: 25px;
}
.doc-img:hover{    
    width: 80vh;
}

.sugrical-list{
    list-style: none;
    font-size: 2.5vh;
}

.our-services-sec{
    height: 124vh;
}

.pattern-services-img-2 {
    position: absolute;
    left: 0vh;
    width: 30vh;
    top: 312vh;
        /* -webkit-animation: zoom-fade 6s infinite linear; */
     animation: fadeIn 5s;
}

.orange-pallete{
    background-color: bisque;
    /* z-index: -1; */
}

.fa-orange-pallete{
       font-size: 14vh;
    padding-right: 20px;
    color: #514433

}

.orange-pallete-text{
    font-size: 25px;
    color:rgb(176, 131, 71);

}

.number-orange-pallete{
    font-size: 8vh;
    font-weight: bold;
}

.choose-us-bg-img{
    width: 100vh;
        height: 90.5vh;

}

.tit-choose-us{
    background: -webkit-linear-gradient(0deg, #ffd4b2, #c3fff7 100%);
    color: transparent !important;
    background-clip: text !important;
    font-size: 13vh;
    font-weight: bold;
    position: relative;
    top: 8vh;
    left: -25vh;
    z-index: -1;
}
.sub-tit-choose{
 font-size: 8vh;
    font-weight: bold;
    /* margin-left: -70px; */
}

.desc-choose{
        font-size: 3vh;
}

.quallity-div-2{
    margin-left: 5vh;
}

.desc-quality{
font-size: 3vh;
}

.why-choose-us{
    background-color: #f2f4f500;
}

.bg-img-owl-2{
        background-image: url(images/owl-2-bg-img.png);
    position: relative;
    left: 100px;
    top: 0px;
    width: 86%;
        height: 65vh;

    background-repeat: no-repeat;
    
}   

.tit-testimonials{
       background: -webkit-linear-gradient(0deg, #ffd4b2, #c3fff7 100%);
    color: transparent !important;
    background-clip: text !important;
    font-size: 13vh;
    font-weight: bold;
    position: relative;
    top: 9vh;
    z-index: -1;
}

.sub-tit-testimonials{
        font-size: 6vh;
    font-weight: bold
}

.test-num-owl-desc{
    font-size: 15vh;
}

.test-owl-desc{
        font-size: 2.5vh;
}

.author-name{
    font-size: 3vh;
}

.author-post{
    font-size: 2.5vh;
}

.test-num-owl-desc{
    color: #ffc107;
}

.owl-two .owl-dots {
    text-align: center;
    padding-top: 20px;
}

.owl-two .owl-dots .owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 5px;
    background: rgb(211, 210, 210); /* Dot background color for carousel one */
    border-radius: 50%;
    cursor: pointer;
}

.owl-two .owl-dots .owl-dot.active {
    background: aqua; /* Active dot background color for carousel one */
}

.emergency-help-sec{
    background-color: #111821;
}

.pattern-emergency-bg{
    /* transform: rotateY(180deg); */
    position: absolute;
    left: 0vh;
    width: 40vh;
}
.title-emergency-help {
        background: -webkit-linear-gradient(0deg, #281c12, #44847b 100%);
    color: transparent !important;
    background-clip: text !important;
    font-size: 13vh;
    font-weight: bold;
    position: relative;
    top: 9vh;
    z-index: 0;
}
.sub-tit-emergency{
    font-size: 6vh;
    font-weight: bold;
    position: relative;
    /* top: 0; */
    /* left: 0; */
    z-index: 2;
    color: #bfd3e4;
    }
.number-emergency {
    font-size: 6vh;
    color:#ffe874;
    }

.specs-bg-img{
    position: absolute;
    left: 91vh;
    top: 663vh;
}

.tit-appoinment-form {
    text-align: center;
    font-size: 5vh;
    padding: 5vh;
    background: rgb(255 255 255 / 12%);
    border-radius: 5vh;
}

.appointment-form {
    border-radius: 5.5vh;
    background-color: white;
    position: relative;
    top: -20vh;
    box-shadow: 0 4px 8px rgba(109, 92, 79, 0.66);
}

.emergency-help-sec {
    background-color: #111821;
    height: 75vh;}

.tit-appoinment-form {
    text-align: center;
    font-size: 4vh;
    padding: 4vh;
    background: #2e343c;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 5vh;
    color: aliceblue;
    font-weight: bold;}


.youtube-vid{
    padding: 10px;
    background-color: #bfd3e4;
    position: relative;
    top: -20vh;
    border-radius: 5vh;
    box-shadow: 0 1px 4px rgba(109, 92, 79, 0.66);}

.optha-tit {
    font-size: 5.5vh;
    text-align: left;
    background: -webkit-linear-gradient(0deg, #d2bba8 30%, #a9dad5 70%);
    color: transparent !important;
    background-clip: text !important;
    font-weight: bold;}

.sub-tit-optha {
    font-size: 4vh;
    font-weight: bold;
    margin-top: -35px;
}
.btn-optha {
    /* height: 4vh; */
    font-size: 3vh;

}

.name-doc{
    background: aliceblue;
    width: 32vh;
    padding: 20px;
    margin-top: -20vh;
    margin-left: 25vh;
    /* z-index: 1; */
    position: absolute;
    font-weight: bold;
    font-size: 3vh;
    border-radius: 2vh;


}

.doc-post{
    font-size: 2.5vh;
    font-weight: normal;
}

@media only screen and (max-width: 852px) {
 
    .bg-owl-img-1{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 44vh;
        height: 70vh;
        background-repeat: no-repeat;
        padding: 25px;
    }

    .owl-one .owl-item{
        width: 100%;
        margin-right: 10px;
        height:70vh;
    }

    .bannerimg-owl-1,.pattern-img,.shape-bg-img,.bannerimg-owl-2{
        display: none;
    }
    
    .eyecare-sen-1{
        color: rgb(239, 159, 61);
        font-size: 2.5vh;
   
    }

    .eyecare-heading{
        font-size: 4vh;
    }

    .desc-eyecare{
        font-size: 2vh;
    }

    .eyecare-heading,.desc-eyecare,.eyecare-sen-1{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .owl-contact-bbtn{
        width: 25vh;
    }

    .fa-carousel{        
           background-color: antiquewhite;
    padding: 12px;
    border-radius: 50px;
    font-size: 3vh;
    color: rgb(156, 116, 63);
    box-shadow: 0 4px 8px rgb(249 143 60 / 66%);
    }
 
    .owl-one .owl-nav button.owl-prev,
    .owl-one .owl-nav button.owl-next{
        font-size: 10vh;
    }

    .owl-one .owl-nav button.owl-next{
               position: relative;
        left: 38vh;
    }


    .owl-one .owl-nav {
        position: absolute;
        top:18vh;
        display: flex;
        justify-content: space-between;
    }

    .foa-card{
        font-size: 6vh;
        padding: 20px 20px 0px 20px;
        color: rgb(175, 131, 79);  
        background-color: none; 
    }

  .tit-abt-us {
        font-size: 6vh;
        font-weight: bold;
        background: -webkit-linear-gradient(0deg, #ffd4b2, #c3fff7 100%);
        color: transparent !important;
        background-clip: text !important;
        position: relative;
        top: 72vh;
        left: -3.3vh;
        z-index: -1;
  }

  .sub-title-abtus {
    font-size: 5vh;
    font-weight: bold;}


    .pattern-img-2 {
    position: relative;
    top: -25vh;
    left: -5vh;
    z-index: -1;
      
    }

    .abt-img-1{
        width: 45vh;
    }

    .abt-img-txt {
     background-color: bisque;
        padding: 10px 30px 10px 30px;
        border-radius: 30px;
        width: 20vh;
        height: 20vh;
        text-align: center;
        color: #7c461d;
        position: absolute;
        top: 289vh;
        right: 0.8vh;
        font-size: 2vh;
    
    }

    .num-text-abt{
        font-size: 5vh;
    }

    .tit-vision,.tit-mission{
        font-size: 4.5vh;
    }

    .list-vision-mission
    {
        font-size: 3vh;
        list-style:none;
        padding: 0px !important;
    }

    ul li:before {
        content: '✓';
        font-weight: bolder;
        color: #ee962e;
    }

    .services-bg-img-1{
    z-index: 0;
        width: 50vh;
        height: 60vh;
        background-repeat: no-repeat;
        position: absolute;
        left: -2.7vh;
    }



    .our-services-sec{
        background-color: #f2f4f5;
    }

    .services-tit {
               font-size: 9vh;
        text-align: center;
        background: -webkit-linear-gradient(0deg, #d2bba8 30%, #a9dad5 70%);
        color: transparent !important;
        background-clip: text !important;
        font-weight: bold;
    }

    .global-div{
        height: 5px;
    }

      .global-title {
               font-size: 3vh;
        text-align: center;
        z-index: 1;
        position: relative;
        top: -10vh;
    }
    

    .services-card-sec {
        padding: 0;
        z-index: 1;
    }

    .text-paeditaric{
        font-size: 21.6px;
    }   

    .services-desc {
        position: relative;
        top: -80vh;
        padding: 80vh 20px 0px 20px;
        height: 200vh;
    }
    

    .surgical-procedures-title{
        font-size: 5vh;
        font-size: 7vh;
        font-weight: bold;
    }

    .sugrical-desc{
        font-size: 2.5vh;
        text-align: justify;
        padding-top: 22px;
        padding-right: 20px;
    }
    .doc-img{    
        border-radius: 50px;
        padding-left: 0px;
    }   

    .sugrical-list{
        list-style: none;
        font-size: 2.5vh;
    }

    .card-services{
        width: 35vh;
    }

    .services-card-sec-inner{
        margin: 0px 20vh;
    }

    .pattern-services-img-2 {
               position: absolute;
        left: 0vh;
        width: 21vh;
        top: 488vh;
    }



    .orange-pallete{
            margin-top: 134vh;
    }

    .choose-us-bg-img {
    width: 100vh;
    height: 50vh;}

       .tit-choose-us {
        background: -webkit-linear-gradient(0deg, #ffd4b2, #c3fff7 100%);
        color: transparent !important;
        background-clip: text !important;
        font-size: 6vh;
        font-weight: bold;
        position: relative;
        top: 4vh;
        left: 0vh;
        z-index: -1;
        padding-left: 10px;
    }


    .sub-tit-choose {
   font-size: 3.5vh;
    font-weight: bold;
    padding: 0px 4vh;
    }

    .quality-div{
    margin-left: 0vh;
    padding: 0px 4vh;
    }

.quallity-div-2 {
    margin-left: 0vh;
}

.desc-choose{
        font-size: 3vh;
        padding: 0px 4vh;
}

       .bg-img-owl-2 {
        background-image: url(images/owl-2-bg-img.png);
        position: relative;
        left: 4px;
        top: 0px;
        width: 45vh;
        height: 130vh;
        background-repeat: no-repeat;}


       .tit-testimonials {
        background: -webkit-linear-gradient(0deg, #ffd4b2, #c3fff7 100%);
        color: transparent !important;
        background-clip: text !important;
        font-size: 6.5vh;
        font-weight: bold;
        position: relative;
        top: 6vh;
        z-index: -1;}
        

.sub-tit-testimonials{
        font-size: 6vh;
    font-weight: bold
}

.test-num-owl-desc{
    font-size: 15vh;
}

.test-owl-desc{
        font-size: 2.5vh;
}

.author-name{
    font-size: 3vh;
}

.author-post{
    font-size: 2.5vh;
}

.test-num-owl-desc{
    color: #ffc107;
}

.owl-two .owl-dots {
    text-align: center;
    padding-top: 20px;
}

.owl-two .owl-dots .owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 5px;
    background: rgb(211, 210, 210); /* Dot background color for carousel one */
    border-radius: 50%;
    cursor: pointer;
}

.owl-two .owl-dots .owl-dot.active {
    background: aqua; /* Active dot background color for carousel one */
}

    .specs-bg-img {
        position: absolute;
        left: 18vh;
        top: 1200vh;
        width: 13vh;
    }

.title-emergency-help {
    background: -webkit-linear-gradient(0deg, #281c12, #44847b 100%);
    color: transparent !important;
    background-clip: text !important;
    font-size: 7vh;
    font-weight: bold;
    position: relative;
    top: 9vh;
    z-index: 0;
}

    .sub-tit-emergency {
        font-size: 3vh;
        font-weight: bold;
        position: relative;
        /* top: 0; */
        /* left: 0; */
        z-index: 2;
        color: #bfd3e4;
        padding: 0px 20px;
    }

     .number-emergency {
        font-size: 3vh;
        color: #ffe874;
        padding-bottom: 20px;
        margin: 0px;
    }

.appointment-form {
    border-radius: 5.5vh;
    background-color: white;
    position: relative;
    top: -26vh;
    box-shadow: 0 4px 8px rgba(109, 92, 79, 0.66);
 }

.youtube-vid {
        padding: 10px;
        background-color: #bfd3e4;
        position: relative;
        top: -25vh;
        border-radius: 5vh;
        box-shadow: 0 1px 4px rgba(109, 92, 79, 0.66);
        width: 45vh;
    }
    
.col-optha-1-yt{
height: 50vh;    
}

.name-doc {
    background: aliceblue;
    width: 32vh;
    padding: 20px;
    margin-top: -20vh;
    margin-left: 7vh;
    /* z-index: 1; */
    position: absolute;
    font-weight: bold;
    font-size: 3vh;
    border-radius: 2vh;}

.sub-tit-optha {
    font-size: 4vh;
    font-weight: bold;
    margin-top: -35px;
}

.optha-tit {
    font-size: 5.5vh;
    text-align: left;
    background: -webkit-linear-gradient(0deg, #d2bba8 30%, #a9dad5 70%);
    color: transparent !important;
    background-clip: text !important;
    font-weight: bold;
}

.op-doc-img{
    padding-top: 20px;
}

}
   